<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../dist/bitart.css" />
    <link rel="stylesheet" href="./_style/index.css">
    <title>Local Store</title>
</head>

<body class="ba-body">
    <div class="go-top">
        <a class="ba-scroll-link" href="#home">
            <img src="./_image/chevron-up.svg" width="24" height="24">
        </a>
    </div>

    <header>
        <div class="top-bar">
            <img src="./_image/maps-flags.svg" width="16" height="16"> Rua Nº 000, Bairro, Cidade-ST
        </div>
        <div class="ba-navbar">
            <img class="logo" src="http://placehold.it/300x100?text=LOGO" alt="Logo" />
            <div class="ba-menu">
                <a href="#home" class="ba-menu-item ba-scroll-link" ba-status="active">Home</a>
                <a href="#products" class="ba-menu-item ba-scroll-link" ba-offset="-69" ba-status="none">Produtos</a>
                <a href="#clients" class="ba-menu-item ba-scroll-link" ba-offset="-69" ba-status="none">Clientes</a>
                <a href="#contacts" class="ba-menu-item ba-scroll-link" ba-offset="-69" ba-status="none">Contatos</a>
            </div>
        </div>
    </header>
    <div id="home" class="suporte"></div>
    <div class="body">
        <section class="carousel main-carousel">
            <div class="ba-carousel">
                <div class="ba-slide" ba-background="lines">
                    <div class="slide-text">
                        <h3>Nome do Produto</h3>
                        <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não ficar
                            visualmente agradável.</p>
                    </div>
                    <img class="slide-image" src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                </div>
                <div class="ba-slide" ba-background="lines">
                    <div class="slide-text">
                        <h3>Nome do Produto</h3>
                        <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não ficar
                            visualmente agradável.</p>
                    </div>
                    <img class="slide-image" src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                </div>
                <div class="ba-slide" ba-background="lines">
                    <div class="slide-text">
                        <h3>Nome do Produto</h3>
                        <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não ficar
                            visualmente agradável.</p>
                    </div>
                    <img class="slide-image" src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                </div>
            </div>
        </section>
        <section id="products" class="products">
            <h2 class="ba-font">Produtos</h2>
            <div class="category">
                <div class="ba-carousel category-carousel" ba-column="4" ba-type="continuous" ba-speed="2000">
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                    <div class="ba-slide">
                        <img class="slide-image" src="http://placehold.it/48x48?text=ICON" alt="ícone de categoria">
                    </div>
                </div>
            </div>
            <div class="search">
                <input class="ba-input" ba-style="edge-round" type="search" id="in-search" placeholder="Buscar produto">
                <button class="ba-button" ba-style="edge-round">Buscar</button>
            </div>
            <div class="products">
                <div class="ba-grid" ba-column="4">
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                    <div class="ba-grid-item">
                        <div class="product-card">
                            <img src="http://placehold.it/400x400?text=400x400" alt="imagem do produto">
                            <div>
                                <h4>Nome do Produto</h4>
                                <p>Descrição do produto, não deve ser muito extensa, no entanto, um texto muito curto pode não
                                    ficar visualmente agradável.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="clients" class="clients">
            <h2 class="ba-font">Clientes</h2>
            <div class="ba-carousel" ba-type="static">
                <div class="ba-slide">
                    <div class="client-card">
                        <img src="http://placehold.it/200x200?text=200x200" alt="">
                        <h4>Nome do cliente</h4>
                        <p>Pequena descrição do cliente, um texto curto com duas ou trê linhas.</p>
                    </div>
                </div>
                <div class="ba-slide">
                    <div class="client-card">
                        <img src="http://placehold.it/200x200?text=200x200" alt="">
                        <h4>Nome do cliente</h4>
                        <p>Pequena descrição do cliente, um texto curto com duas ou trê linhas.</p>
                    </div>
                </div>
                <div class="ba-slide">
                    <div class="client-card">
                        <img src="http://placehold.it/200x200?text=200x200" alt="">
                        <h4>Nome do cliente</h4>
                        <p>Pequena descrição do cliente, um texto curto com duas ou trê linhas.</p>
                    </div>
                </div>
                <div class="ba-slide">
                    <div class="client-card">
                        <img src="http://placehold.it/200x200?text=200x200" alt="">
                        <h4>Nome do cliente</h4>
                        <p>Pequena descrição do cliente, um texto curto com duas ou trê linhas.</p>
                    </div>
                </div>
                <div class="ba-slide">
                    <div class="client-card">
                        <img src="http://placehold.it/200x200?text=200x200" alt="">
                        <h4>Nome do cliente</h4>
                        <p>Pequena descrição do cliente, um texto curto com duas ou trê linhas.</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="contacts" class="contacts">
            <h2 class="ba-font">Contatos</h2>
            <div class="ba-grid" ba-column="2">
                <div class="ba-grid-item">
                    <div id="map"></div>
                </div>
                <div class="ba-grid-item">
                    <form class="form-message" action="#">
                        <input class="ba-input" ba-style="edge-round" type="email" name="email" placeholder="E-mail" id="email" required/>
                        <input class="ba-input" ba-style="edge-round" type="text" name="subjetive" placeholder="Assunto" id="subjetive" required>
                        <textarea class="ba-input" ba-style="edge-round" name="message" placeholder="Escreva sua mensagem aqui..." id="message" cols="30"
                            rows="10" required></textarea>
                        <input class="ba-button" ba-style="edge-round" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </section>
    </div>
    <footer>
        <img src="../../dist/res/bitart-logo-1.svg" height="16">
        <div class="ba-label">&copy; - 2018</div>
    </footer>
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../../dist/bitart.js"></script>
    <script src="./_script/navbar.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key="></script>
    <script src="./_script/map.js"></script>
</body>

</html>